#s1{
    color: aqua;
    font-size: 100px;
}
#s2{
    color: rgb(64, 0, 255);
    font-size: 100px;
}
#s3{
    color: rgb(255, 153, 0);
    font-size: 100px;
}
#s4{
    color: rgb(0, 255, 21);
    font-size: 100px;
}